@import url('https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400;0,500;0,600;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gelasio&display=swap');

body {
  background-color: #fff;
  padding:0px;
  font: 15.0px/1.5 'Gelasio', serif;
  color:#595959;
  font-weight:400;
  margin:0
}
