@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,300;0,400;0,500;0,600;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

body {
  background-color: #fff;
  padding:0px;
  font: 20px/1.5 Figtree, sans-serif;
  color: #2d2d2d;
  font-family: "Figtree", sans-serif;
  font-weight: 400;
}

/*
body {
  background-color: #fff;
  padding:0px;
  font: 17.0px/1.5 'Source Sans 3', sans-serif;
  color:#484848;
  font-weight:400;
  margin:0;
}
*/
