@import url('https://fonts.googleapis.com/css2?Sorts+Mill+Goudy:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

body {
  background-color: #fff;
  padding:0px;
  font: 15.0px/1.5 'Source Sans 3', serif;
  color:#484848;
  font-weight:400;
  margin:0
}
