@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;0,600;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

body {
  background-color: #fff;
  padding:0px;
  font: 18.0px/1.5 'Figtree', sans-serif;
  color:#484848;
  font-weight:400;
  margin:0
}
