/* Add a black background color to the top navigation */
.topnav {
    background-color: #ffffff;
    overflow: hidden;
  }

  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    color: black;
    text-align: center;
    padding: 10px 9px;
    text-decoration: none;
    font-size: 17px;
  }

  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ffffff;
    text-decoration: underline;
    text-decoration-color: #A9A9A9;
  }

  /* Add a color to the active/current link */
  .topnav active {
    background-color: #ffffff;
    text-decoration: underline;
    text-decoration-color: #000000;
  }
